html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.back-button{
  position: fixed;
  width: 100%;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 0 0 20px #000000;
}

#BacktoHome {
  text-decoration: none;
  color: #fff;
}

#BacktoHome:hover {
  color: #00ff11;
  text-shadow: 0 0 5px #00ff1180;
}